{% extends 'base.html' %}
{% load static %}
{% load tag_library %}
{% block title %}Home{% endblock %}
{% block content %}


<!-- Hero Section start  -->
    <div class="hero-section hero-1 fix bg-cover" style="background-image: url({% static 'assets/img/hero/hero-bg-1.jpg' %});">
        <div class="container">
            <div class="row align-items-center g-4">
                <div class="col-xl-8 col-lg-6">
                    <div class="hero-main-wrapper">
                        <div class="hero-content">
                            <h1 class="wow fadeInUp" data-wow-delay=".4s">Your Next Favorite Book <br>  Is Just a
                               <span
                                    class="line-shape">Click Away <img src="{% static 'assets/img/hero/line-shape.png' %}"
                                        alt="shape"></span>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".6s">Bookim Is The Best Book Shop In The World.</p>
                        </div>
                        <div class="hero-btn">
                            <a href="{% url 'shop:shop' %}" class="theme-btn style-2 wow fadeInUp" data-wow-delay="1s">
                                view all books <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="girl-img">
                        <img src="{% static 'assets/img/hero/hero-girl-2.png' %}" alt="img">
                        <div class="bg-shape">
                            <img src="{% static 'assets/img/hero/bg-shape.png' %}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop Section start  -->
    <section class="shop-section section-padding fix">
        <div class="container">
            <div class="section-title-area">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">Last Books</h2>
                </div>
                <a href="{% url 'shop:shop' %}" class="theme-btn style-2 fadeInUp" data-wow-delay=".5s">View More <i
                        class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            <div class="swiper book-slider">
                <div class="swiper-wrapper">
                    {% for last_book in last_books %}
                        <div class="swiper-slide">
                            <div class="shop-box-items style-2">
                                <div class="book-thumb center">
                                    <a href="{{ last_book.get_absolute_url }}"><img src="{{ last_book.image.url }}" alt="{{ last_book.title }}"></a>
                                </div>
                                <div class="shop-content">
                                    <h5> {{ last_book.categories }} </h5>
                                    <h3><a href="{{ last_book.get_absolute_url }}">{{ last_book.title }}</a></h3>
                                    <ul class="price-list">
                                        <li>${{ last_book.price }}</li>
                                    </ul>
                                    <ul class="author-post">
                                        <li class="authot-list">
                                            {% if last_book.author.user.profile.profile_pic %}
                                            <span class="thumb avatar">
                                                <img src="{{ last_book.author.user.profile.profile_pic.url }}" alt="">
                                            </span>
                                            {% else %}
                                            <span class="thumb avatar">
                                                <img src="{% static 'assets/img/default.jpg' %}" alt="">
                                            </span>
                                            {% endif %}
                                            <span class="content">{{ last_book.author.first_name }} {{ last_book.author.last_name }}</span>
                                        </li>
                                        {% if last_book.reviews.count %}
                                            <li class="star">
                                                {% with avg=last_book.avg_rating %}
                                                    {% for i in "12345" %}
                                                        {% if avg >= i|to_int %}
                                                            <i class="fa-solid fa-star"></i>
                                                        {% else %}
                                                            <i class="fa-regular fa-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endwith %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="shop-button">
                                    <button data-slug="{{ last_book.slug }}" class="theme-btn add-to-cart-btn">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Top Catagories -->
    <section class="book-catagories-section fix section-padding bg-cover"
        style="background-image: url({% static 'assets/img/top-categories-bg.jpg' %});">
        <div class="container">
            <div class="book-catagories-wrapper">
                <div class="section-title text-center">
                    <span class="icon"><img src="{% static 'assets/img/icon/icon-24.svg' %}" alt="icon"></span>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">Top Categories</h2>
                </div>
                <div class="swiper book-catagories-slider">
                    <div class="swiper-wrapper">
                        {% for category in top_categories %}
                            <div class="swiper-slide">
                                <div class="book-catagories-items">
                                    <div class="book-thumb">
                                        <img src="{{ category.books.last.image.url }}" alt="">
                                        <div class="book-box">
                                            {{ category.books.count }} books
                                        </div>
                                    </div>
                                    <div class="book-content">
                                        <h6><a href="{% url 'shop:shop' %}?category={{ category.slug }}">{{ category.name }}</a></h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Recommended Shop  -->
    <section class="shop-section section-padding fix">
        <div class="container">
            <div class="section-title-area">
                <div class="section-title mb- wow fadeInUp" data-wow-delay=".3s">
                    <h2>recommended Books</h2>
                </div>
            </div>
            <div class="book-shop-wrapper">
                {% for recommended_book in recommended_books %}
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="{{ recommended_book.get_absolute_url }}"><img src="{{ recommended_book.image.url }}" alt="{{ recommended_book.title }}"></a>
                        </div>
                        <div class="shop-content">
                            <h5> {{ recommended_book.categories }} </h5>
                            <h3><a href="{{ recommended_book.get_absolute_url }}">{{ recommended_book.title }}</a></h3>
                            <ul class="price-list">
                                <li>${{ recommended_book.price }}</li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    {% if recommended_book.author.user.profile.profile_pic %}
                                    <span class="thumb avatar">
                                        <img src="{{ recommended_book.author.user.profile.profile_pic.url }}" alt="">
                                    </span>
                                    {% else %}
                                    <span class="thumb avatar">
                                        <img src="{% static 'assets/img/default.jpg' %}" alt="">
                                    </span>
                                    {% endif %}
                                    <span class="content">{{ recommended_book.author.first_name }} {{ recommended_book.author.last_name }}</span>
                                </li>
                                {% if recommended_book.reviews.count %}
                                    <li class="star">
                                        {% with avg=recommended_book.avg_rating %}
                                            {% for i in "12345" %}
                                                {% if avg >= i|to_int %}
                                                    <i class="fa-solid fa-star"></i>
                                                {% else %}
                                                    <i class="fa-regular fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="shop-button">
                            <button data-slug="{{ recommended_book.slug }}" class="theme-btn add-to-cart-btn">Add To Cart</button>
                        </div>
                    </div>
                {% endfor %}
                <div class="cta-shop-box">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s">
                        Find Your Favourite Books!
                    </h2>
                    <a href="{% url 'shop:shop' %}" class="theme-btn wow fadeInUp" data-wow-delay=".6s">Shop Now <i
                            class="fa-solid fa-arrow-right-long"></i></a>
                    <div class="girl-shape">
                        <img src="{% static 'assets/img/girl-shape.png' %}" alt="">
                    </div>
                    <div class="circle-shape">
                        <img src="{% static 'assets/img/circle-shape.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <section class="cta-banner-section fix section-padding pt-0">
        <div class="container">
            <div class="cta-banner-wrapper section-padding bg-cover"
                style="background-image: url({% static 'assets/img/cta-banner.jpg' %});">
                <div class="book-shape">
                    <img src="{% static 'assets/img/cta-book-2.png' %}" alt="">
                </div>
                <div class="book-shape-2">
                    <img src="{% static 'assets/img/cta-book.png' %}" alt="">
                </div>
                <div class="cta-content text-center">
                    <span class="wow fadeInUp" data-wow-delay=".2s">Bookim<img src="{% static 'assets/img/line-shape.png' %}" alt=""></span>
                    <h2 class="mb-40 wow fadeInUp" data-wow-delay=".4s">The best books in the world <br> in Bookim</h2>
                    <a href="{% url 'shop:shop' %}" class="theme-btn wow fadeInUp" data-wow-delay=".6s">Shop Now<i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Top Ratting Books -->
    <section class="top-ratting-book-section fix section-padding bg-cover"
        style="background-image: url('{% static 'assets/img/ratting-bg.jpg' %}');">
        <div class="container">
            <div class="top-ratting-book-wrapper">
                <div class="section-title-area">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Top Rating Books</h2>
                    </div>
                    <a href="{% url 'shop:shop' %}?sort=most-rating" class="theme-btn wow fadeInUp" data-wow-delay=".5s">
                        view more
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
                <div class="row">
                    {% for top_rating_book in top_rating_books %}
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="top-ratting-box-items">
                                <div class="book-thumb">
                                    <a href="{{ top_rating_book.get_absolute_url }}">
                                        <img src="{{ top_rating_book.image.url }}" alt="{{ top_rating_book.title }}">
                                    </a>
                                </div>
                                <div class="book-content">
                                    <div class="title-header">
                                        <div>
                                            <h5> {{ top_rating_book.categories }} </h5>
                                            <h3>
                                                <a href="{{ top_rating_book.get_absolute_url }}">{{ top_rating_book.title }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <span class="mt-10">${{ top_rating_book.price }}</span>
                                    <ul class="author-post">
                                        <li class="authot-list">
                                            {% if top_rating_book.author.user.profile.profile_pic %}
                                            <span class="thumb avatar">
                                                <img src="{{ top_rating_book.author.user.profile.profile_pic.url }}" alt="">
                                            </span>
                                            {% else %}
                                            <span class="thumb avatar">
                                                <img src="{% static 'assets/img/default.jpg' %}" alt="">
                                            </span>
                                            {% endif %}
                                            <span class="content mt-10">{{ top_rating_book.author.first_name }} {{ top_rating_book.author.last_name }}</span>
                                        </li>
                                    </ul>
                                    <div class="shop-btn">
                                        <div class="star">
                                            {% with avg=top_rating_book.avg_rating %}
                                                {% for i in "12345" %}
                                                    {% if avg >= i|to_int %}
                                                        <i class="fa-solid fa-star"></i>
                                                    {% else %}
                                                        <i class="fa-regular fa-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        </div>
                                        <div class="shop-button">
                                            <button data-slug="{{ top_rating_book.slug }}" class="theme-btn add-to-cart-btn">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Top Sale Books  -->
    <section class="shop-section section-padding fix">
        <div class="container">
            <div class="section-title-area">
                <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                    <h2>Top Selling Books</h2>
                </div>
                <a href="{% url 'shop:shop' %}?sort=most-sale" class="theme-btn style-2 wow fadeInUp" data-wow-delay=".5s">View More <i
                        class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            <div class="swiper book-slider">
                <div class="swiper-wrapper">
                    {% for top_sale_book in top_sale_books %}
                        <div class="swiper-slide">
                            <div class="shop-box-items style-2">
                                <div class="book-thumb center">
                                    <a href="{{ top_sale_book.get_absolute_url }}"><img src="{{ top_sale_book.image.url }}" alt="{{ top_sale_book.title }}"></a>
                                </div>
                                <div class="shop-content">
                                    <h5> {{ top_sale_book.categories }} </h5>
                                    <h3><a href="{{ top_sale_book.get_absolute_url }}">{{ top_sale_book.title }}</a></h3>
                                    <ul class="price-list">
                                        <li>${{ top_sale_book.price }}</li>
                                    </ul>
                                    <ul class="author-post">
                                        <li class="authot-list">
                                            {% if top_sale_book.author.user.profile.profile_pic %}
                                            <span class="thumb avatar">
                                                <img src="{{ top_sale_book.author.user.profile.profile_pic.url }}" alt="">
                                            </span>
                                            {% else %}
                                            <span class="thumb avatar">
                                                <img src="{% static 'assets/img/default.jpg' %}" alt="">
                                            </span>
                                            {% endif %}
                                            <span class="content">{{ top_sale_book.author.first_name }} {{ top_sale_book.author.last_name }}</span>
                                        </li>
                                        {% if top_sale_book.reviews.count %}
                                            <li class="star">
                                                {% with avg=top_sale_book.avg_rating %}
                                                    {% for i in "12345" %}
                                                        {% if avg >= i|to_int %}
                                                            <i class="fa-solid fa-star"></i>
                                                        {% else %}
                                                            <i class="fa-regular fa-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endwith %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="shop-button">
                                    <button data-slug="{{ top_sale_book.slug }}" class="theme-btn add-to-cart-btn">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Authors  -->
    <section class="team-section fix section-padding pt-0 margin-bottom-30">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">The most active Authors</h2>
                <p class="wow fadeInUp" data-wow-delay=".5s"></p>
            </div>
            <div class="array-button">
                <button class="array-prev"><i class="fal fa-arrow-left"></i></button>
                <button class="array-next"><i class="fal fa-arrow-right"></i></button>
            </div>
            <div class="swiper team-slider">
                <div class="swiper-wrapper">
                    {% for author in authors %}
                        <div class="swiper-slide">
                            <div class="team-box-items">
                                <div class="team-image">
                                    {% if author.user.profile.profile_pic %}
                                    <div class="thumb">
                                        <img src="{{ author.user.profile.profile_pic.url }}" alt="{{ author.user.username }}">
                                    </div>
                                    {% else %}
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/default.jpg' %}" alt="">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="team-content text-center">
                                    <h6><a href="{% url 'accounts:author' slug=author.slug %}">{{ author.first_name }} {{ author.last_name }}</a></h6>
                                    <p>{{ author.books.count }} Books</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- Articles  -->
    <section class="news-section fix section-padding bg-cover" style="background-image: url({% static 'assets/img/bg.jpg' %});">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Latest Articles</h2>
                <p class="wow fadeInUp" data-wow-delay=".5s">For See Other Articles Go To The Blog.</p>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="news-card-items">
                            <div class="news-image">
                                <img src="{{ article.cover.url }}" alt="{{ article.title }}">
                                <img src="{{ article.cover.url }}" alt="{{ article.title }}">
                            </div>
                            <div class="news-content">
                                <ul>
                                    <li>
                                        <i class="fa-light fa-calendar-days"></i>
                                        {{ article.created }}
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-user"></i>
                                        By {{ article.author.first_name }} {{ article.author.last_name }}
                                    </li>
                                </ul>
                                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                                <a href="{{ article.get_absolute_url }}" class="theme-btn-2">Read More <i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.add-to-cart-btn').click(function(e) {
            e.preventDefault();
            let slug = $(this).data('slug');

            $.ajax({
                url: '/shop/add_cart/' + slug,
                type: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function(response) {
                    if(response.status === 'added'){
                        let notif = $('<div>Book added to cart!</div>');
                        $('body').append(notif);
                        notif.css({
                            position: 'fixed',
                            top: '20px',
                            right: '20px',
                            background: '#28a745',
                            color: '#fff',
                            padding: '5px 10px',
                            borderRadius: '5px',
                            fontSize: '12px',
                            zIndex: 9999,
                            opacity: 0
                        });
                        notif.animate({opacity:1}, 200).delay(800).fadeOut(400, function(){
                            $(this).remove();
                        });
                    }
                    else if(response.status === 'not_login'){
                        window.location.href = "{% url 'accounts:login' %}";
                    }
                }
            });
        });
    });
    </script>
{% endblock %}