# Python
pycache/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/
*.log

# Migrations (optional)
**/migrations/*
!**/migrations/init.py

# IDEs & Editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Tests / Coverage
.coverage
htmlcov/

# Node (if exists)
node_modules/