{% extends 'base.html' %}
{% block title %}Signup Poge{% endblock %}

{% block content %}

    <!-- Contact Section Start -->
    <section class="contact-section fix section-padding">
        <div class="container">
            <div class="contact-wrapper">
                <div class="row text-center g-4 mx-auto align-items-center">
                    <div class="col-lg-12">
                        <div class="contact-content align-center">
                            {% if request.resolver_match.url_name == 'signup' %}
                                {% if 'signup_step' in request.session and request.session.signup_step == 2 %}
                                    <h2>Continue Signup:</h2>
                                    <form action="" id="contact-form2" method="POST" class="contact-form-items text-center d-flex justify-content-center align-items-center">
                                        <div class="row g-4 align-items-center align-content-center">
                                            {% csrf_token %}
                                            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".5s">
                                                <div class="form-clt">
                                                    <span>Enter Username:</span>
                                                    {% if form.username.errors %}
                                                    <h6 class="text-danger">{{ form.username.errors.0 }} :(</h6>
                                                    {% endif %}
                                                    {{ form.username }}
                                                </div>
                                                <div class="form-clt">
                                                    <span>Enter Password:</span>
                                                    {% if form.password.errors %}
                                                    <h6 class="text-danger">{{ form.password.errors.0 }} :(</h6>
                                                    {% endif %}
                                                    {{ form.password }}
                                                </div>
                                                <div class="form-clt">
                                                    <span>Enter Password Again:</span>
                                                    {{ form.password2 }}
                                                </div>
                                            </div>
                                            <div class="col-lg-7 wow fadeInUp" data-wow-delay=".9s">
                                                <button type="submit" class="theme-btn style-2">
                                                    Create Account <i class="fa-solid fa-arrow-right-long"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <h2>Create Account in Bookim:</h2>
                                    <form action="" id="contact-form2" method="POST" class="contact-form-items text-center d-flex justify-content-center align-items-center">
                                        <div class="row g-4 align-items-center align-content-center">
                                            {% csrf_token %}
                                            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                                <div class="form-clt">
                                                    <span>Enter Your Phone number:</span>
                                                    {% if form.number.errors %}
                                                    <h6 class="text-danger">{{ form.number.errors.0 }} :(</h6>
                                                    {% endif %}
                                                    {{ form.number }}
                                                </div>
                                            </div>
                                            <p class="widget__form-text">Already have an account?
                                                <a href="{% url 'accounts:login' %}" class="widget__form-link">Login</a>
                                            </p>
                                            <div class="col-lg-7 wow fadeInUp" data-wow-delay=".9s">
                                                <button type="submit" class="theme-btn style-2">
                                                    Continue <i class="fa-solid fa-arrow-right-long"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            {% elif request.resolver_match.url_name == 'register' %}
                                <h2>Register Phone Number:</h2>
                                <form action="" id="contact-form2" method="POST" class="contact-form-items text-center d-flex justify-content-center align-items-center">
                                    <div class="row g-4 align-items-center align-content-center">
                                        {% csrf_token %}
                                        <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                            <div class="form-clt">
                                                <span>Enter Code Send For <a href="{% url 'accounts:signup' %}" class="widget__form-link active">{{ number }}</a>:</span>
                                                {% if form.number_code.errors %}
                                                <h6 class="text-danger">{{ form.number_code.errors.0 }} :(</h6>
                                                {% endif %}
                                                {{ form.number_code }}
                                            </div>
                                        </div>
                                        <div class="col-lg-7 wow fadeInUp" data-wow-delay=".9s">
                                            <button type="submit" class="theme-btn style-2">
                                                Submit <i class="fa-solid fa-arrow-right-long"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}