{% load static %}
<header id="header-sticky" class="header-1">
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo">
                            <a href="{% url 'home:home' %}" class="header-logo">
                                <img src="{% static 'assets/img/logo/logo.svg' %}" alt="logo-img">
                            </a>
                        </div>
                    </div>
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="{% url 'home:home' %}">
                                            <i class="fas fa-home"></i>  Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shop:shop' %}">
                                            <i class="fas fa-shop"></i>  Shop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'blog:blog' %}">
                                            <i class="fas fa-blog"></i>  Blog
                                        </a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'shop:orders' %}"><i class="fas fa-box-check"></i>  Orders</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'accounts:profile' %}"><i class="fas fa-user"></i>  Account</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'accounts:login' %}">Login/Signup</a>
                                    </li>
                                    {% endif %}
                                    {% if request.user.is_authenticated and request.user.profile.author %}
                                    <li class="has-dropdown">
                                        <a href="{% url 'shop:add_book' %}">
                                            <i class="fas fa-plus"></i> Add
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'shop:add_book' %}">Add Book</a></li>
                                            <li><a href="{% url 'blog:add_article' %}">Add Article</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-right d-flex justify-content-end align-items-center">
                        <a href="{% url 'shop:cart' %}" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a>
                        <div class="header__hamburger d-xl-none my-auto">
                            <div class="sidebar__toggle">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>