{% extends 'base.html' %}
{% load static %}
{% load tag_library %}

{% block title %}Shop{% endblock %}

{% block content %}
    <!-- Section Start -->
    <div class="breadcrumb-wrapper bg-cover section-padding"
        style="background-image: url({% static 'assets/img/hero/breadcrumb-bg.jpg' %});">
        <div class="container">
            <div class="page-heading">
                <h1>Shop</h1>
                <div class="page-header">
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                        <li>
                            <a href="{% url 'home:home' %}">
                                Home
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-chevron-right"></i>
                        </li>
                        <li>
                            Shop
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop Section Start -->
    <section class="shop-section fix section-padding">
        <div class="container">
            <div class="shop-default-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="woocommerce-notices-wrapper wow fadeInUp" data-wow-delay=".3s">
                            <p>Showing Results </p>
                            <div class="form-clt">
                                <div class="nice-select" tabindex="0">
                                    <span class="current">
                                        {% if request.GET|get_sort_name %}
                                            {{ request.GET | get_sort_name }}
                                        {% else %}
                                            default
                                        {% endif %}
                                    </span>
                                    <ul class="list">
                                        <a href="?{% update_query request.GET sort='default' %}" class="option selected focus">
                                            Default
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='new' %}" class="option selected focus">
                                            New
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='old' %}" class="option selected focus">
                                            Old
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='low-price' %}" class="option selected focus">
                                            low price
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='high-price' %}" class="option selected focus">
                                            high price
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='most-sale' %}" class="option selected focus">
                                            most sale
                                        </a><br>
                                        <a href="?{% update_query request.GET sort='low-sale' %}" class="option selected focus">
                                            low sale
                                        </a><br>
                                    </ul>
                                </div>
                                <div class="icon{% if format == 'list' %} active {% endif %}">
                                    <a href="?{% update_query request.GET format='list' %}"><i class="fas fa-list"></i></a>
                                </div>
                                <div class="icon-2{% if format == 'default' or not format %} active {% endif %}">
                                    <a href="?{% update_query request.GET format='default' %}"><i class="fa-sharp fa-regular fa-grid-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if format == 'default' or not format %}
                        {% include 'shop/shop_default.html' %}
                    {% else %}
                        {% include 'shop/shop_list.html' %}
                    {% endif %}
                    </div>
                    <div class="page-nav-wrap text-center">
                        <ul>
                            {% if books.has_previous %}
                                <li><a class="previous" href="?{% update_query request.GET page=books.previous_page_number %}">Previous</a></li>
                            {% endif %}
                            {% for page in books.paginator.page_range %}
                                {% if page >= books.number|add:'-2' and page <= books.number|add:'2' %}
                                    <li><a class="{% if page == books.number %}next{% else %}page-numbers{% endif %}" href="?{% update_query request.GET page=page %}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if books.has_next %}
                                <li><a class="next" href="?{% update_query request.GET page=books.next_page_number %}">Next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}